In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [83]:
df = pd.read_csv("Video_Games_Sales_as_at_22_Dec_2016.csv")
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
df.shape

(16719, 16)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [86]:
df = df.drop("Developer",axis =1)

In [87]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN

In [88]:
df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Rating             6769
dtype: int64

In [89]:
df = df[df['Name'].notna()]

In [90]:
df.shape

(16717, 15)

In [91]:
df["Year_of_Release"].unique()

array([2006., 1985., 2008., 2009., 1996., 1989., 1984., 2005., 1999.,
       2007., 2010., 2013., 2004., 1990., 1988., 2002., 2001., 2011.,
       1998., 2015., 2012., 2014., 1992., 1997., 1993., 1994., 1982.,
       2016., 2003., 1986., 2000.,   nan, 1995., 1991., 1981., 1987.,
       1980., 1983., 2020., 2017.])

In [92]:
df["Year_of_Release"].mode()

0    2008.0
Name: Year_of_Release, dtype: float64

In [93]:
mode_Year_of_Realease=df["Year_of_Release"].mode()[0]

In [94]:
df["Year_of_Release"].fillna(value=mode_Year_of_Realease,inplace=True)

In [95]:
df.isnull().sum()

Name                  0
Platform              0
Year_of_Release       0
Genre                 0
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8580
Critic_Count       8580
User_Score         6702
User_Count         9127
Rating             6767
dtype: int64

In [96]:
df["Year_of_Release"].dtype

dtype('float64')

In [97]:
df["Year_of_Release"] = df["Year_of_Release"].astype(int)

In [98]:
df["Year_of_Release"].dtype

dtype('int32')

# Publisher

In [99]:
df['Publisher'].unique()

array(['Nintendo', 'Microsoft Game Studios', 'Take-Two Interactive',
       'Sony Computer Entertainment', 'Activision', 'Ubisoft',
       'Bethesda Softworks', 'Electronic Arts', 'Sega', 'SquareSoft',
       'Atari', '505 Games', 'Capcom', 'GT Interactive',
       'Konami Digital Entertainment', 'Square Enix',
       'Sony Computer Entertainment Europe', 'Virgin Interactive',
       'LucasArts', 'Warner Bros. Interactive Entertainment',
       'Universal Interactive', 'Eidos Interactive', 'RedOctane',
       'Vivendi Games', 'Enix Corporation', 'Namco Bandai Games',
       'Palcom', 'Hasbro Interactive', 'THQ', 'Fox Interactive',
       'Acclaim Entertainment', 'MTV Games', 'Disney Interactive Studios',
       nan, 'Codemasters', 'Majesco Entertainment', 'Red Orb', 'Level 5',
       'Arena Entertainment', 'Midway Games', 'JVC', 'Deep Silver',
       'NCSoft', '989 Studios', 'UEP Systems', 'Parker Bros.', 'Maxis',
       'Imagic', 'Tecmo Koei', 'ASCII Entertainment', 'Valve Software',
       'Mindscape', 'Infogrames', 'Unknown', 'Square', 'Valve',
       'Banpresto', 'Hello Games', 'D3Publisher', 'Activision Value',
       'Oxygen Interactive', 'Red Storm Entertainment', 'Video System',
       'Global Star', 'Gotham Games', 'Westwood Studios', 'GungHo',
       'Crave Entertainment', 'Hudson Soft', 'Coleco',
       'Rising Star Games', 'TDK Mediactive', 'ASC Games', 'Accolade',
       'Zoo Games', 'Sony Online Entertainment', '3DO', 'Natsume', 'RTL',
       'Alchemist', 'Black Label Games', 'SouthPeak Games',
       'Focus Home Interactive', 'Ocean', 'Zoo Digital Publishing',
       'Psygnosis', 'City Interactive', 'Empire Interactive', 'Success',
       'Compile', 'Russel', 'Atlus', 'Mastertronic',
       'Slightly Mad Studios', 'Taito', 'Agetec', 'Microprose', 'Play It',
       'GSP', 'Tomy Corporation', 'Sammy Corporation', 'Koch Media',
       'Game Factory', 'Titus', 'Marvelous Entertainment', 'Genki',
       'Mojang', 'CTO SpA', 'TalonSoft', 'Crystal Dynamics',
       'Square Enix ', 'mixi, Inc', 'Pinnacle', 'SCi', 'Quelle',
       'Rage Software', 'Ubisoft Annecy', 'Interplay', 'Scholastic Inc.',
       'Mystique', 'ChunSoft', 'Square EA',
       '20th Century Fox Video Games', 'Hudson Entertainment',
       'Men-A-Vision', 'Nobilis', 'Avanquest Software',
       'Big Ben Interactive', 'Nordic Games', 'Touchstone', 'Spike',
       'Nippon Ichi Software', 'Sony Computer Entertainment America',
       'Jester Interactive', 'LEGO Media', 'Quest', 'Illusion Softworks',
       'Tigervision', 'Rocket Company', 'Metro 3D', 'Mattel Interactive',
       'IE Institute', 'Funbox Media', 'Rondomedia', 'Universal Gamex',
       'Ghostlight', 'Wizard Video Games',
       'BMG Interactive Entertainment', 'PQube', 'Trion Worlds',
       'Xseed Games', 'Laguna', 'Takara', 'Ignition Entertainment',
       'Kadokawa Shoten', 'Enterbrain', 'Imagineer', 'CPG Products',
       'System 3 Arcade Software', 'Aruze Corp', 'Destineer',
       'Gamebridge', 'Midas Interactive Entertainment', 'Jaleco',
       'Answer Software', 'Pack In Soft', 'XS Games', 'Rebellion',
       'Ultravision', 'Harmonix Music Systems', 'Activision Blizzard',
       'Xplosiv', 'Wanadoo', 'Telltale Games', 'NovaLogic', 'Epoch',
       'BAM! Entertainment', 'GameMill Entertainment',
       'Knowledge Adventure', 'Tetris Online', 'Mastiff', 'ESP', 'TYO',
       'Telegames', 'Mud Duck Productions', 'Screenlife', 'Pioneer LDC',
       'Magical Company', 'Kemco', 'Mentor Interactive',
       'Human Entertainment', 'Data Age', 'Electronic Arts Victor',
       'Jack of All Games', 'Avanquest', 'Black Bean Games', '989 Sports',
       'Takara Tomy', 'Media Rings', 'Elf', 'Starfish', 'Zushi Games',
       'Jorudan', 'Destination Software, Inc', 'New',
       'Brash Entertainment', 'Kalypso Media', 'ITT Family Games',
       'Ackkstudios', 'PopCap Games', 'Starpath Corp.', 'BPS',
       'Gathering of Developers', 'NewKidCo', 'Marvelous Interactive',
       'Storm City Games', 'CokeM Interactive', 'P2 Games',
       'CBS Electronics', 'Home Entertainment Suppliers', 'Magix',
       'Arc System Works', 'Angel Studios', 'Wargaming.net', 'Playmates',
       'SNK Playmore', 'Hamster Corporation', 'From Software',
       'Nippon Columbia', 'Nichibutsu', 'Conspiracy Entertainment',
       'Hect', 'Mumbo Jumbo', 'DTP Entertainment',
       'Pacific Century Cyber Works', 'Indie Games', 'Liquid Games',
       'NEC', 'Axela', 'ArtDink', 'Sunsoft', 'Little Orbit', 'FuRyu',
       'Gust', 'SNK', 'NEC Interchannel', 'Nihon Falcom Corporation',
       'Xing Entertainment', 'ValuSoft', 'Victor Interactive',
       'American Softworks', 'Falcom Corporation', 'Detn8 Games', 'Bomb',
       'Nordcurrent', 'Milestone S.r.l.', 'AQ Interactive', 'Sears',
       'Seta Corporation', 'On Demand', 'CCP', 'NCS',
       'Rebellion Developments', 'Agatsuma Entertainment',
       'Gremlin Interactive Ltd', 'Aspyr', 'Compile Heart',
       'Culture Brain', 'Mad Catz', 'Shogakukan', 'Merscom LLC',
       'JoWood Productions', 'Nippon Telenet', 'TDK Core',
       'Kadokawa Games', 'SSI', 'Foreign Media Games', 'Core Design Ltd.',
       'bitComposer Games', 'Astragon', 'Asylum Entertainment',
       'Performance Designed Products', 'UFO Interactive',
       'Essential Games', 'Adeline Software', 'Funcom', 'PlayV',
       'Panther Software', 'Blast! Entertainment Ltd',
       'Playlogic Game Factory', 'DSI Games', 'Avalon Interactive',
       'Game Life', 'Popcorn Arcade', 'Aques', 'System 3', 'Syscom',
       'Vir2L Studios', 'Vatical Entertainment', 'Neko Entertainment',
       'White Park Bay Software', 'Vic Tokai', 'Media Factory',
       'Daedalic', 'Game Arts', 'The Adventure Company', 'EA Games',
       'Acquire', 'Broccoli', 'General Entertainment',
       'Paradox Interactive', 'Yacht Club Games', 'Imadio',
       'Swing! Entertainment', 'Sony Music Entertainment', 'Aqua Plus',
       'Excalibur Publishing', 'Hip Interactive', 'Tripwire Interactive',
       'DreamCatcher Interactive', 'SCS Software', 'Havas Interactive',
       'Sting', 'Idea Factory', 'Telstar', 'U.S. Gold', 'Funsta',
       'DreamWorks Interactive', 'Slitherine Software', 'MTO', 'Graffiti',
       'Tru Blu Entertainment', 'DHM Interactive', 'Crytek', 'FunSoft',
       'Data Design Interactive', 'SPS', 'Moss', 'T&E Soft',
       'NDA Productions', 'Bigben Interactive', 'Data East',
       'Idea Factory International', 'Time Warner Interactive',
       'Gainax Network Systems', 'Daito', 'O3 Entertainment', 'O-Games',
       'Gameloft', 'Xicat Interactive', 'Simon & Schuster Interactive',
       'Valcon Games', 'PopTop Software', 'TOHO', 'PM Studios',
       'Bohemia Interactive', 'Reef Entertainment', '5pb',
       'HMH Interactive', 'inXile Entertainment', 'Cave', 'Microids',
       'Paon', 'CDV Software Entertainment', 'Micro Cabin', 'GameTek',
       'Benesse', 'Type-Moon', 'Enjoy Gaming ltd.', 'Asmik Corp',
       'Interplay Productions', 'Asmik Ace Entertainment', 'Image Epoch',
       'Phantom EFX', 'Evolved Games', 'responDESIGN',
       'Griffin International', 'Culture Publishers', 'Hackberry',
       'Hearty Robin', 'Nippon Amuse', 'Origin Systems', 'Seventh Chord',
       'Abylight', 'Mitsui', 'Insomniac Games', 'Flight-Plan',
       'Milestone', 'Glams', 'Aksys Games', 'Locus', 'Warp',
       'Irem Software Engineering', 'Myelin Media',
       'Global A Entertainment', 'Alternative Software', 'Mercury Games',
       'Sunrise Interactive', 'Elite', 'Evolution Games',
       'Daedalic Entertainment', 'Edia', 'Athena', 'Aria', 'Tivola',
       'Happinet', 'Tommo', 'Altron', 'Revolution Software',
       'Media Works', 'Fortyfive', 'Gamecock', 'Imax', '10TACLE Studios',
       'Groove Games', 'Pack-In-Video', 'Crimson Cow', 'iWin', 'Asgard',
       'Ecole', 'Yumedia', 'Ascaron Entertainment GmbH', 'HAL Laboratory',
       'Phenomedia', 'Grand Prix Games', 'DigiCube', 'Creative Core',
       'Kaga Create', 'WayForward Technologies', 'LSP Games',
       'ASCII Media Works', '1C Company', 'Coconuts Japan', 'Arika',
       'Marvel Entertainment', 'Ertain', 'Prototype', 'Phantagram',
       'The Learning Company', 'TechnoSoft', 'MLB.com', 'Vap', 'Misawa',
       'Yeti', 'Dusenberry Martin Racing', 'Navarre Corp', 'Pow',
       'MediaQuest', 'Team17 Software', 'Max Five', 'Tradewest',
       'Comfort', 'Milestone S.r.l', 'Pony Canyon', 'Riverhillsoft',
       'Summitsoft', 'Playmore', 'Kool Kizz', 'Monte Christo Multimedia',
       'TopWare Interactive', 'Legacy Interactive',
       'Cloud Imperium Games Corporation', 'Flashpoint Games',
       'CyberFront', 'Alawar Entertainment', 'Societa', 'Interchannel',
       'Experience Inc.', 'Sonnet', 'Virtual Play Games', 'Zenrin',
       'Iceberg Interactive', 'Ivolgamus', 'MC2 Entertainment', '2D Boy',
       'Games Workshop', 'Kando Games', 'Office Create',
       'Maximum Family Games', 'Fields', 'Gearbox Software',
       'Princess Soft', 'Extreme Entertainment Group', 'Big Fish Games',
       'Berkeley', 'Mamba Games', 'Fuji', 'FuRyu Corporation',
       'Her Interactive', 'imageepoch Inc.', 'Just Flight', 'Kamui',
       'ASK', 'Cygames', 'Introversion Software', '49Games', 'KSS',
       'dramatic create', 'TGL', 'KID', 'Quinrose', 'Sold Out', 'Encore',
       'G.Rev', 'Sunflowers', 'Headup Games', 'Sweets',
       'Kokopeli Digital Studios', 'id Software', 'Nexon', 'BushiRoad',
       'Devolver Digital', 'Number None', 'Tryfirst', 'GN Software',
       "Yuke's", 'Strategy First', 'Lexicon Entertainment',
       'Paon Corporation', 'Kids Station', 'Licensed 4U', 'GOA',
       '7G//AMES', 'King Records', 'Minato Station',
       'Graphsim Entertainment', 'Easy Interactive', 'Gaga',
       'Yamasa Entertainment', 'Plenty', 'Views', 'Blue Byte', 'fonfun',
       'NetRevo', 'Epic Games', 'Quintet', 'Focus Multimedia',
       'Phoenix Games', 'Marvelous Games', 'Dorart', 'Codemasters Online',
       'Stainless Games', 'Aerosoft', 'Imageworks', 'Karin Entertainment',
       'Technos Japan Corporation', 'Masque Publishing', 'Gakken',
       'New World Computing', 'Mirai Shounen', 'Datam Polystar', 'HuneX',
       'Visco', 'Saurus', 'Revolution (Japan)', 'Giza10', 'Alvion',
       'Giga', 'Mycom', 'Warashi', 'System Soft', 'RED Entertainment',
       'Lighthouse Interactive', 'Michaelsoft', 'Media Entertainment',
       'Genterprise', 'Interworks Unlimited, Inc.', 'Inti Creates',
       'Boost On', 'EON Digital Entertainment', 'Nitroplus', 'Naxat Soft',
       'Piacci', 'Paradox Development', 'Otomate',
       'Ascaron Entertainment', 'Ongakukan', 'Commseed',
       'UIG Entertainment', 'Takuyo', 'Interchannel-Holon',
       'Red Flagship'], dtype=object)

In [100]:
df['Publisher'].mode()

0    Electronic Arts
Name: Publisher, dtype: object

In [101]:
mode_Publisher=df["Publisher"].mode()[0]

In [102]:
df["Publisher"].fillna(value=mode_Publisher,inplace=True)

In [103]:
df.isnull().sum()

Name                  0
Platform              0
Year_of_Release       0
Genre                 0
Publisher             0
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8580
Critic_Count       8580
User_Score         6702
User_Count         9127
Rating             6767
dtype: int64

In [104]:
median_value_CS=df['Critic_Score'].median()
median_value_CC=df['Critic_Count'].median()
median_value_UC=df['User_Score'].median()
median_value_UC=df['User_Count'].median()

df['Critic_Score'].fillna(value=median_value_CS, inplace=True)
df['Critic_Count'].fillna(value=median_value_CC, inplace=True)
df['User_Score'].fillna(value=median_value_UC, inplace=True)
df['User_Count'].fillna(value=median_value_UC, inplace=True)

TypeError: could not convert string to float: 'tbd'